{% extends 'base.html' %}
{% block content %}

<h2>{{question.question_text}}</h2>

{% if error_message %}
<p><string>{{error_message}}</string></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="POST">
    {% csrf_token %}
    {% for ch in question.choice_set.all %}
        <input type="radio" name="choice" id="ch{{ forloop.counter }}" value="{{ch.id}}">
        <label for="ch{{ forloop.counter }}">{{ch.choice}}</label><br>
    {% endfor %}
    <br>
    <input type="submit" value="Vote">
</form>
{% endblock %}