{% extends 'base.html' %}
{% block content %}

<h2>{{question.question_text}}</h2>

<ul>
    {% for ch in question.choice_set.all %}
        <li>{{ch.choice}} -- {{ch.votes}} vote{{ch.votes|pluralize}}</li>
    {% endfor %}
</ul>
<a href="{% url 'polls:detail' question.id %}">Vote Again?</a>

{% endblock %}